{% extends 'home.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block content %}

<!-- banner -->
<div class="inside-banner">
    <div class="container">
        {% if user.is_authenticated %}
        <span class="pull-right"><a href="{% url 'home' %}">Home</a> / Change Password</span>
        {% else %}
        <span class="pull-right"><a href="{% url 'index' %}">Home</a> / Change Password</span>
        {% endif %}
        <h2>Change Password</h2>
    </div>
</div>
<!-- banner -->

<div class="container">
    <div class="row">
        {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
        {% endif %}
    </div>
    <div class="spacer">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <form action="{% url 'change-password' %}" method="post" role="form">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <label for="old-password">Old Password:</label>
                    <input type="password" class="form-control" id="old-password" name="old-password">
                    <label for="new-password">New Password:</label>
                    <input type="password" class="form-control" id="new-password" name="new-password">
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password">
                    <input type="submit" class="btn btn-success" value="Update Password">
                </form>
            </div>
            <div class="col-lg-6 col-sm-6">
                <h3> Make sure to remember:</h3>
                <p>Your password can't be too similar to your other personal information.<br>
                    Your password must contain at least 8 characters.<br>
                    Your password can't be a commonly used password.<br>
                    Your password can't be entirely numeric.<br>
                    Your password must contain at least one special character (~!@#$%^&*()_+}{":?><,. /;') and one
                        number.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}