{% extends 'home.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block content %}

<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="{% url 'home' %}">Home</a> / Contact Us</span>
    <h2>Contact Us</h2>
  </div>
</div>
<!-- banner -->

<div class="container">
  <div class="spacer">
    <div class="row contact">
      <div class="col-lg-6 col-sm-6 ">
        <form action="{% url 'contact' %}" method="post">
          {% csrf_token %}
          <input type="text" class="form-control" placeholder="Full Name" name="full-name" required>
          <input type="email" class="form-control" placeholder="Email Address" name="email" required>
          <input type="tel" class="form-control" placeholder="Contact Number" name="phone" required>
          <textarea rows="6" class="form-control" placeholder="Message" name="message" required></textarea>
          <button type="submit" class="btn btn-success" name="Submit">Send Message</button>
        </form>
      </div>
      <div class="col-lg-6 col-sm-6 ">
        <div class="well"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56509.06362857656!2d84.30385320471673!3d27.722952122054014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3994fb6f10ab0081%3A0x11b6475201e5a810!2sGaindakot!5e0!3m2!1sen!2snp!4v1678550899270!5m2!1sen!2snp"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}