{% extends 'index.html' %}
{% load static %}
{% block loginstatus %}
{% if user.is_authenticated %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"><b>Welcome, {{ user.username }} </b> &nbsp;<span
      class="glyphicon glyphicon-user"></span>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#"><b>View Profile</b></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'logout' %}"><b>Logout</b></a>
  </div>
</li>

{% else %}
<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a></li>

{% endif %}
{% endblock %}
{% block Before-Login %}
{% endblock %}