{% extends 'index.html' %}
{% load static %}

{% block BeforeLogin %}

{% if user.is_authenticated %}

<li class="active"><a href="{% url 'home' %}">Home</a></li>
{% else %}
<li class="active"><a href="{% url 'index' %}">Home</a></li>
{% endif %}

{% endblock %}

{% block sellpage %}
{% if user.is_authenticated %}
<li><a href="{% url 'sell' %}">Sell</a></li>
{% endif %}
{% endblock %}

{% block loginstatus %}
{% if user.is_authenticated %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"><strong>Welcome, {{ user.username }} </strong> &nbsp;<span
      class="glyphicon glyphicon-user"></span>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{% url 'profile' %}"><b>View Profile</b></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'logout' %}"><b>Logout</b></a>
  </div>
</li>

{% else %}
<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a></li>

{% endif %}
{% endblock %}
{% block Before-Login-message %}
{% endblock %}