<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <title> {% block title %} REMS {% endblock %}</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/style.css' %}" />

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/script.js' %}"></script>

  <!-- Owl stylesheet -->
  <link rel="stylesheet" href="{% static 'assets/owl-carousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'assets/owl-carousel/owl.theme.css' %}">
  <script src="{% static 'assets/owl-carousel/owl.carousel.js' %}"></script>
  <!-- Owl stylesheet -->

  <!-- slitslider -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/slitslider/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'assets/slitslider/css/custom.css' %}" />
  <script type="text/javascript" src="{% static 'assets/slitslider/js/modernizr.custom.79639.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/slitslider/js/jquery.ba-cond.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/slitslider/js/jquery.slitslider.js' %}"></script>
  <!-- slitslider -->
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel=icon href="{% static 'favicon.ico' %}" sizes="20x20" type="image/.ico" />
</head>

<body>
  {% block header %}
  <!-- Header Starts -->
  <div class="navbar-wrapper">

    <div class="navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Nav Starts -->
        <div id="navbar" class="navbar-collapse  collapse">
          <ul class="nav navbar-nav navbar-right">
            {% block BeforeLogin %}
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            {% endblock %}
            <li class=""><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'agents' %}">Agents</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% block loginstatus %}
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a></li>
            {% endblock %}
          </ul>
        </div>
        <!-- #Nav Ends -->

      </div>
    </div>
  </div>
  {% endblock %}

  {% block subheader %}
  <!-- #Header Starts -->

  <div class="container">

    <!-- Header Starts -->
    <div class="header">
      {% if user.is_authenticated %}
      <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Realestate"></a>
      {% else %}
      <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Realestate"></a>
      {% endif %}
      <ul class="pull-right">
        <li><a href="{% url 'buy' %}">Buy</a></li>
        <li><a href="{% url 'sell' %}">Sell</a></li>
        <li><a href="{% url 'rent' %}">Rent</a></li>
      </ul>
    </div>
    <!-- #Header Starts -->
  </div>
  {% endblock %}

  {% block content %}
  <div id="slider" class="sl-slider-wrapper">

    <div class="sl-slider">
      {% if featured %}
      {% for property in featured %}
      {% if property.property_type != 'Land' %}
      <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-5"
        data-slice1-scale="1.5" data-slice2-scale="1.5">
        <div class="sl-slide-inner">
          <div><img class="bg-img" src="{{ property.image.url }}" style="aspect-ratio: 16/9;">
          </div>
          <h2>
            {% if property.property_for == 'Buyer' %}
            <a href="{% url 'property-details' 'buy' property.pk %}">
              {{ property.beedrooms }} Bedrooms and {{ property.living_rooms }} Living Room
              {{ property.property_type }}
              For {{ property.property_for }}s
            </a>
            {% else %}
            <a href="{% url 'property-details' 'rent' property.pk %}">
              {{ property.beedrooms }} Bedrooms and {{ property.living_rooms }} Living Room
              {{ property.property_type }}
              For {{ property.property_for }}s
            </a>
            {% endif %}
          </h2>
          <blockquote>
            <p class="location"><span class="glyphicon glyphicon-map-marker"></span>
              {{ property.zip_code }} {{ property.city }}, {{ property.district }}</p>
            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.
            </p>
            <cite>
              {% if property.property_for == 'Buyer' %}
              <a href="{% url 'property-details' 'buy' property.pk %}" style="text-decoration: none; color: white;">
                Rs. {{ property.price }}</a>
              {% else %}
              <a href="{% url 'property-details' 'rent' property.pk %}" style="text-decoration: none; color: white;">
                Rs. {{ property.price }}</a>
              {% endif %}
            </cite>
          </blockquote>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% else %}
      <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25"
        data-slice1-scale="2" data-slice2-scale="2">
        <div class="sl-slide-inner">
          <div class="bg-img bg-img-1"></div>
          <h2><a href="#">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
          <blockquote>
            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 34500 Chitlang, Makwanpur</p>
            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.
            </p>
            <cite>Rs. 20,000,000</cite>
          </blockquote>
        </div>
      </div>
      {% endif %}
    </div><!-- /sl-slider -->

    <nav id="nav-dots" class="nav-dots">
      <span class="nav-dot-current"></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </nav>

  </div><!-- /slider-wrapper -->



  <div class="banner-search">
    <div class="container">
      <!-- banner -->
      <h3>Buy, Sell & Rent</h3>
      <div class="searchbar">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <form action="{% url 'search-result' %}" method="get">
              <input type="text" name="location" class="form-control" placeholder="Location of Property">
              <div class="row">
                <div class="col-lg-3 col-sm-3 ">
                  <select class="form-control" name="property_for">
                    <option>Buy</option>
                    <option>Rent</option>
                    <option>Sell</option>
                  </select>
                </div>
                <div class="col-lg-3 col-sm-4">
                  <select class="form-control" name="price_range">
                    <option>Price</option>
                    <option>Rs. 150,000 - Rs. 200,000</option>
                    <option>Rs. 200,000 - Rs. 250,000</option>
                    <option>Rs. 250,000 - Rs. 300,000</option>
                    <option>Rs. 300,000 - above</option>
                  </select>
                </div>
                <div class="col-lg-3 col-sm-4">
                  <select class="form-control" name="property_type">
                    <option>House</option>
                    <option>Apartment</option>
                    <option>Land</option>
                    <option>Commercial</option>
                  </select>
                </div>
                <div class="col-lg-3 col-sm-4">
                  <button type="submit" class="btn btn-success">Find
                    Now</button>
                </div>
              </div>
            </form>
          </div>

          {% block Before-Login-message %}
          <div class="col-lg-5 col-lg-offset-1 col-sm-6 ">
            <p>Join now and get updated with all the properties deals.</p>
            <a type="submit" class="btn btn-info" href="{% url 'register' %}">Join
              Now</a>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <!-- banner -->
  <div class="container">
    <div class="properties-listing spacer"> <a href="{% url 'buy' %}" class="pull-right viewall">View All
        Listing</a>
      <h2>Featured Properties</h2>
      <div id="owl-example" class="owl-carousel">
        {% if featured %}
        {% for property in featured %}
        <div class="properties">
          <div class="image-holder" class="img-responsive"><img src="{{ property.image.url }}" class="img-responsive"
              alt="properties" style="height:170px; width: 100%;">
            <div class="status sold">{{ property.status }}</div>
          </div>
          {% if property.property_for == 'Buyer' %}
          <h4><a href="{% url 'property-details' 'buy' property.pk %}">{{ property }}</a></h4>
          {% else %}
          <h4><a href="{% url 'property-details' 'rent' property.pk %}">{{ property }}</a></h4>
          {% endif %}
          <p class="price">Price: Rs. {{ property.price }}</p>
          <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
              data-original-title="Bed Room">
              {{ property.beedrooms }}
            </span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">
              {{ property.living_rooms }}
            </span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">
              {{ property.bedrooms }}</span> <span data-toggle="tooltip" data-placement="bottom"
              data-original-title="Kitchen">
              {{ property.kitchens }}</span>
          </div>
          {% if property.property_for == 'Buyer' %}
          <a class="btn btn-primary" href="{% url 'property-details' 'buy' property.pk %}">View Details</a>
          {% else %}
          <a class="btn btn-primary" href="{% url 'property-details' 'rent' property.pk %}">View Details</a>
          {% endif %}
        </div>
        {% endfor %}
        {% endif %}

        <!-- <div class="properties">
          <div class="image-holder"><img src="{% static 'images/properties/2.jpg' %}" class=" img-responsive"
              alt="properties" />
            <div class="status new">New</div>
          </div>
          <h4><a href="#">Royal Inn</a></h4>
          <p class="price">Price: Rs. 234,900</p>
          <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
              data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom"
              data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom"
              data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom"
              data-original-title="Kitchen">1</span> </div>
          <a class="btn btn-primary" href="#">View Details</a>
        </div> -->

      </div>
    </div>
    <div class="spacer">
      <div class="row">
        <div class="col-lg-6 col-sm-9 recent-view">
          <h3>About Us</h3>
          <p style="text-align: justify;">RealEstate Nawalpur is a leading real estate company specializing in
            property
            management and investment
            services. With a strong presence in the Nawalpur district, our company is dedicated to providing exceptional
            services to clients seeking to buy, sell, or rent residential and commercial properties. With a team of
            highly experienced professionals, we offer comprehensive solutions tailored to meet the unique needs and
            preferences of our clients. Our commitment to excellence, integrity, and client satisfaction sets us apart
            in the industry. Whether you are a homeowner, investor, or tenant, RealEstate Nawalpur strives to deliver
            outstanding results, ensuring seamless transactions and maximizing the value of your real estate
            investments. Trust us to navigate the dynamic real estate market, leverage our extensive network, and
            provide you with personalized services that exceed your expectations.<br><a href="{% url 'about' %}">Learn
              More</a></p>

        </div>
        <div class="col-lg-5 col-lg-offset-1 col-sm-3 recommended">
          <h3>Recommended Properties</h3>
          <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1" class=""></li>
              <li data-target="#myCarousel" data-slide-to="2" class=""></li>
              <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              {% if featured %}
              <div class="item active">
                <div class="row">
                  <div class="col-lg-4"><img src="{{ featured.0.image.url }}" class="img-responsive" alt="properties" />
                  </div>
                  <div class="col-lg-8">
                    <h5><a href="#">{{ featured.0 }}</a></h5>
                    <p class="price">Rs. {{ featured.0.price }}</p>
                    {% if featured.0.property_for == 'Buyer' %}
                    <a class="more" href="{% url 'property-details' 'buy' featured.0.pk %}">More Details</a>
                    {% endif %}
                    {% if featured.0.property_for == 'Renter' %}
                    <a class="more" href="{% url 'property-details' 'rent' featured.0.pk %}">More Details</a>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% for property in featured|slice:"1:" %}
              <div class="item">
                <div class="row">
                  <div class="col-lg-4"><img src="{{ property.image.url }}" class="img-responsive" alt="properties" />
                  </div>
                  <div class="col-lg-8">
                    <h5><a href="#">{{ property }}</a></h5>
                    <p class="price">Rs. {{ property.price }}</p>
                    {% if property.property_for == 'Buyer' %}
                    <a class="more" href="{% url 'property-details' 'buy' property.pk %}">More Details</a>
                    {% else %}
                    <a class="more" href="{% url 'property-details' 'rent' property.pk %}">More Details</a>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3">
          <h4>Information</h4>
          <ul class="row">
            <li class="col-lg-12 col-sm-12 col-xs-3"><a href="{% url 'about' %}">About</a></li>
            <li class="col-lg-12 col-sm-12 col-xs-3"><a href="{% url 'agents' %}">Agents</a></li>
            <li class="col-lg-12 col-sm-12 col-xs-3"><a href="{% url 'blog' %}">Blog</a></li>
            <li class="col-lg-12 col-sm-12 col-xs-3"><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-sm-3">
          <h4>Newsletter</h4>
          <p>Get notified about the latest properties in our marketplace.</p>
          <form class="form-inline" role="form">
            <input type="text" placeholder="Enter Your email address" class="form-control">
            <button class="btn btn-success" type="button">Notify Me!</button>
          </form>
        </div>

        <div class="col-lg-3 col-sm-3">
          <h4>Follow us</h4>
          <a href="https://www.facebook.com/sandeepsharmag35" target="_blank"><img
              src="{% static 'images/facebook.png' %}" alt="facebook"></a>
          <a href="https://twitter.com/slayrant/" target="_blank"><img src="{% static 'images/twitter.png' %}"
              alt="twitter"></a>
          <a href="#"><img src="{% static 'images/linkedin.png' %}" target="_blank" alt="linkedin"></a>
          <a href="https://instagram.com/sandip.slayrant/" target="_blank"><img
              src="{% static 'images/instagram.png' %}" alt="instagram"></a>
        </div>

        <div class="col-lg-3 col-sm-3">
          <h4>Contact us</h4>
          <p><b>Realestate Ltd.</b><br>
            <span class="glyphicon glyphicon-map-marker"></span> Gaindakot, Nepal <br>
            <span class="glyphicon glyphicon-envelope"></span> hello@example.com<br>
            <span class="glyphicon glyphicon-earphone"></span> +977 9876543210
          </p>
        </div>
      </div>
      <p class="copyright">Copyright <script>document.write(new Date().getFullYear())</script>. All rights reserved. </p>
    </div>
  </div>
  {% endblock %}
</body>

</html>
