{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="{% url 'index' %}">Home</a> / Login</span>
    <h2>Login</h2>
  </div>
</div>
<!-- banner -->
{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}
<div class="container">
  <div class="spacer">
    <div class="row">
      <div class="col-sm-6 login">
        <h4>Login</h4>
        <form action="" role="form" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="sr-only" for="exampleInputUsername2">Username</label>
            <input type="text" class="form-control" name="user_name" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <input type="password" class="form-control" name="user_password" placeholder="Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div>
      <div class="col-sm-6">
        <h4>New User Sign Up</h4>
        <p>Join today and get updated with all the properties deal happening around.</p>
        <a type="submit" class="btn btn-info" href="{% url 'register' %}">Join
          Now</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}