{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="{% url 'home' %}">Home</a> / Register</span>
    <h2>Register</h2>
  </div>
</div>
<!-- banner -->

<!-- error alert for email -->
{% if error_message_email %}
<div class="alert alert-danger" role="alert">
  {{ error_message_email }}
</div>
{% endif %}

<!-- error alert for username -->
{% if error_message_username %}
<div class="alert alert-danger" role="alert">
  {{ error_message_username }}
</div>
{% endif %}

<!-- error alert for password -->
{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}

<!-- error alert for confirm password -->
{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}

<div class="container">
  <div class="spacer">
    <div class="row register">
      <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
        <form action="" method="post">
          {% csrf_token %}
          <input type="email" class="form-control" placeholder="Enter Email" name="form_email">
          <input type="text" class="form-control" placeholder="Username" name="form_name">
          <input type="password" class="form-control" placeholder="Password" name="form_password">
          <input type="password" class="form-control" placeholder="Confirm Password" name="form_cpassword">
          <button type="submit" class="btn btn-success" name="Submit">Register</button>
        </form>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
      <h4>Already a User?</h4>
      <button type="submit" class="btn btn-info" onclick="window.location.href='{% url 'login' %}'">Login Now</button>
    </div>
  </div>
</div>
<br>
{% endblock %}