{% extends 'home.html' %}
{% load static %}
{% block content %}


<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="{% url 'home' %}">Home</a> / Sell</span>
    <h2>List Property For Sale/Rent</h2>
  </div>
</div>
<!-- banner -->

<div class="container">
  <div class="row">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="spacer">
    <h3>Please fill those fields according to their respective data *</h3>
    <form method="POST" action="{% url 'sell' %}" enctype="multipart/form-data" id="sell-form">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <label for="property-title">Property Ad Title:*</label>
          <input type="text" class="form-control" placeholder="New House for sale at Gaindakot, Nawalpur"
            id="property-title" name="property-title" required>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-6 ">
          <label for="property-type">Property Type:</label>
          <select class="form-control" id="property-type" name="property-type" required>
            <option value="select">Select</option>
            <option value="House">House</option>
            <option value="Apartment">Apartment</option>
            <option value="Land">Land</option>
            <option value="Flat">Flat</option>
            <option value="Commercial Property">Commercial Property</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-6 ">
          <label for="property-for">Sale / Rent:</label>
          <select class="form-control" id="property-for" name="property-for" required>
            <option>Sale</option>
            <option>Rent</option>
          </select>
        </div>
      </div>
      <div class="spacer">
        <div id="house-form" style="display: none;">
          <div class="row">
            <div class="col-lg-4 col-sm-4 ">
              <label for="flat-number">No of Flat:</label>
              <select class="form-control" id="flat-number" name="flat-number">
                <option>1</option>
                <option>1.5</option>
                <option>2</option>
                <option>2.5</option>
                <option>3</option>
                <option>3.5</option>
                <option>4</option>
                <option>4.5</option>
                <option>5</option>
                <option>5+</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-4 ">
              <label for="bed-number">Bedroom:</label>
              <select class="form-control" id="bed-number" name="bed-number">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>7+</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-4 ">
              <label for="bath-number">Bathroom:</label>
              <select class="form-control" id="bath-number" name="bath-number">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>5+</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-4 ">
              <label for="living-number">Living Room:</label>
              <select class="form-control" id="living-number" name="living-number">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>5+</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-4 ">
              <label for="kitchen-number">Kitchen:</label>
              <select class="form-control" id="kitchen-number" name="kitchen-number">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>5+</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-4 ">
              <label for="total-number">Total Rooms:</label>
              <select class="form-control" id="total-number" name="total-number">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>15+</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-4 ">
              <label for="parking">Parking</label>
              <select class="form-control" id="parking" name="parking">
                <option>Motorbike</option>
                <option>Car-1</option>
                <option>Car-2</option>
                <option>Car-3</option>
                <option>Car-3+</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-4">
              <label for="built-year">Built Year:</label>
              <input type="number" class="form-control" placeholder="eg. 2078" id="built-year" name="built-year">
            </div>
            <div class="col-lg-4 col-sm-4">
              <label for="built-area">Built Area:</label>
              <input type="text" class="form-control" placeholder="eg. 1000 sqft" id="built-area" name="built-area">
            </div>
          </div>
        </div>
        <div id="land-form">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <label for="road-size">Road Size:</label>
              <input type="text" class="form-control" placeholder="eg. 8 ft" id="road-size" name="road-size" required>
            </div>
            <div class="col-lg-6 col-sm-6">
              <label for="land-area">Land Area:</label>
              <input type="text" class="form-control" placeholder="eg. 1250 sqft" id="land-area" name="land-area"
                required>
            </div>
            <div class="col-lg-6 col-sm-6 ">
              <label for="type">Type:</label>
              <select class="form-control" id="type" name="type">
                <option>Select</option>
                <option>Residential</option>
                <option>Commertial</option>
                <option>Bungalow</option>
                <option>Plotted Land</option>
                <option>Furnished</option>
                <option>Agriculture</option>
              </select>
            </div>
            <div class="col-lg-6 col-sm-6 ">
              <label for="facing-direction">Facing Direction:</label>
              <select class="form-control" id="facing-direction" name="facing-direction">
                <option>East</option>
                <option>West</option>
                <option>North</option>
                <option>South</option>
                <option>South East</option>
                <option>North East</option>
                <option>South West</option>
                <option>North West</option>
              </select>
            </div>
            <div class="col-lg-6 col-sm-6">
              <label for="price">Price:</label>
              <input type="number" class="form-control" placeholder="eg. 5000000" id="price" name="price" required>
            </div>
            <div class="col-lg-6 col-sm-6 ">
              <label for="price-per-unit">Price Per Unit:</label>
              <select class="form-control" id="price-per-unit" name="price-per-unit">
                <option>Aana</option>
                <option>Ropani</option>
                <option>Dhur</option>
                <option>Kathha</option>
                <option>Bigha</option>
                <option>Sqft</option>
                <option>Month</option>
                <option>Flat</option>
              </select>
            </div>
            <div class="col-lg-6 col-sm-6">
              <label for="description">Full Description:</label>
              <textarea placeholder="Fully describe about property here" class="form-control" id="description"
                name="description" rows="5" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer">
        <h3><strong>Location Details</strong></h3>
        <div class="row">
          <div class="col-lg-4 col-sm-4 ">
            <label for="province">Province:</label>
            <select class="form-control" id="province" name="province">
              <option>select</option>
              <option>Province 1</option>
              <option>Province 2</option>
              <option>Bagmati</option>
              <option>Gandaki</option>
              <option>Province 5</option>
              <option>Province 6</option>
              <option>Province 7</option>
            </select>
          </div>
          <div class="col-lg-4 col-sm-4">
            <label for="district">District:</label>
            <input type="text" class="form-control" placeholder="eg. Chitwan" id="district" name="district">
          </div>
          <div class="col-lg-4 col-sm-4">
            <label for="zip-code">Zip Code:</label>
            <input type="text" class="form-control" placeholder="eg. 36000" id="zip-code" name="zip-code">
          </div>
          <div class="col-lg-3 col-sm-3">
            <label for="municipality">Municipality:</label>
            <input type="text" class="form-control" placeholder="eg. Bharatpur" id="municipality" name="municipality">
          </div>
          <div class="col-lg-3 col-sm-3">
            <label for="city">City:</label>
            <input type="text" class="form-control" placeholder="eg. Bharatpur" id="city" name="city">
          </div>
          <div class="col-lg-3 col-sm-3">
            <label for="ward-no">Ward No:</label>
            <input type="number" class="form-control" placeholder="Ward Number" id="ward-no" name="ward-no">
          </div>
          <div class="col-lg-3 col-sm-3">
            <label for="tole">Tole:</label>
            <input type="text" class="form-control" placeholder="Tole Name" id="tole" name="tole">
          </div>
        </div>
      </div>
      <div class="spacer">
        <h3><strong>Contact Details</strong></h3>
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <label for="name">Name:</label>
            {% if user.is_authenticated %}
            <input type="text" class="form-control" placeholder="Your Name" id="name" name="name"
              value="{{ user.username }}">
          </div>
          <div class="col-lg-6 col-sm-6">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Your Name" id="email" name="email"
              value="{{ user.email }}">
            {% endif %}
          </div>
          <div class="col-lg-6 col-sm-6">
            <label for="address">Address:</label>
            <input type="text" class="form-control" placeholder="Your address" id="address" name="address">
          </div>
          <div class="col-lg-6 col-sm-6">
            <label for="phone">Phone Number:</label>
            <input type="number" class="form-control" placeholder="Your phone number" id="phone" name="phone">
          </div>
        </div>
      </div>
      <div class="spacer">
        <h3><strong>Upload Images</strong></h3>
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="mb-3">
              <label for="formFile" class="form-label">Document: (Upload property document file to verify your
                ownership.)</label>
              <input class="form-control" type="file" id="formFile" name="document-image" required>
            </div>
          </div>
        </div>
        <div class="spacer">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <label for="front-image" class="form-label">Front Image. (Take a wide angle image from front of your
                property.)</label>
              <input class="form-control" type="file" id="front-image" name="front-image" required>
            </div>
            <div class="col-lg-6 col-sm-6">
              <label for="side-image" class="form-label">Side Image. (Take a wide angle image from any sides of your
                property.)</label>
              <input class="form-control" type="file" id="side-image" name="side-image" required>
            </div>
            <div class="col-lg-6 col-sm-6">
              <label for="extra-image" class="form-label">Extra Image. (Upload room photo if property is not
                Land.)</label>
              <input class="form-control" type="file" id="extra-image" name="extra-image">
            </div>
            <div class="col-lg-6 col-sm-6">
              <label for="extra2-image" class="form-label">Extra Image. (Upload room photo if property is not
                Land.)</label>
              <input class="form-control" type="file" id="extra2-image" name="extra2-image">
            </div>
          </div>
        </div>
      </div>
      <div class="spacer">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <input class="btn btn-success" type="submit" value="Upload Details" id="upload-button">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  // getting references to the form and the two divs containing the fields
  const form = document.querySelector('form');
  const houseForm = document.getElementById('house-form');
  const landForm = document.getElementById('land-form');

  // add an event listener to the select element to show/hide the appropriate form fields
  const select = document.getElementById('property-type');
  select.addEventListener('change', (event) => {
    if (event.target.value === 'Land') {
      houseForm.style.display = 'none';
      landForm.style.display = 'block';
    }
    else if (event.target.value === 'House' || 'Flat' || 'Apartment' || 'Commercial Property') {
      houseForm.style.display = 'block';
      landForm.style.display = 'block';
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    var form = document.getElementById('sell-form');
    form.addEventListener('submit', function (event) {
      if (!validateImages()) {
        event.preventDefault(); // Prevent form submission
      }
    });

    function validateImages() {
      var documentImage = document.getElementById('formFile').files[0];
      var frontImage = document.getElementById('front-image').files[0];
      var sideImage = document.getElementById('side-image').files[0];
      var extraImage = document.getElementById('extra-image').files[0];
      var extra2Image = document.getElementById('extra2-image').files[0];

      // Perform image validation
      if (!validateImageFormat(documentImage) ||
        !validateImageFormat(frontImage) ||
        !validateImageFormat(sideImage) ||
        (extraImage && !validateImageFormat(extraImage)) ||
        (extra2Image && !validateImageFormat(extra2Image))) {
        return false;
      }

      return true;
    }

    function validateImageFormat(image) {
      if (image) {
        var allowedFormats = ['jpg', 'jpeg', 'png', 'gif'];
        var extension = image.name.split('.').pop().toLowerCase();
        if (allowedFormats.indexOf(extension) === -1) {
          alert('Please upload a valid image file (JPEG, PNG, GIF).');
          return false;
        }
      } else {
        alert('Please upload an image file.');
        return false;
      }

      // You can add more custom validation logic here if needed
      // ...

      return true;
    }
  });
</script>
{% endblock %}