{% extends 'admin/dashboard.html' %}
{% block title %}Add Property{% endblock %}
{% block extracssjs %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
{% endblock %}
{% block content %}
<div class="go-back">
    <a href="javascript:void(0);" onclick="window.history.back();">
        <span class="icon">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </span>
    </a>
</div>
<div class="insider">
    <div class="row">
        <div class="cardHeader">
            <form action="{% url 'add-property' %}" method="post" class="animated-form" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Add Property</h2>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul><br>
                {% endif %}
                <div class="form-group">
                    <label for="property-type">Property Type:</label>
                    <select id="property-type" name="property-type" required>
                        <option>House</option>
                        <option>Land</option>
                        <option>Apartment</option>
                        <option>Commercial</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="property-for">Property For:</label>
                    <select id="property-for" name="property-for" required>
                        <option>Buyer</option>
                        <option>Renter</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="property-image">Image:</label>
                    <div class="file-upload">
                        <div class="file-select">
                            <div class="file-select-button" id="fileName">Choose File</div>
                            <div class="file-select-name" id="noFile">No file chosen...</div>
                            <input type="file" name="property-image" id="property-image">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="property-price">Price:</label>
                    <input type="text" id="property-price" name="property-price" oninput="formatNumber(this)" required>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="city" name="city" required>
                </div>
                <div class="form-group">
                    <label for="district">District:</label>
                    <input type="text" id="district" name="district" required>
                </div>
                <div class="form-group">
                    <label for="zip-code">Zip Code:</label>
                    <input type="number" id="zip-code" name="zip-code" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="status">Status:</label>
                    <select id="status" name="status" required>
                        <option>Select</option>
                        <option>Available</option>
                        <option>Sold</option>
                        <option>Rented</option>
                    </select>
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}