{% extends 'admin/dashboard.html' %}
{% load static %}
{% block title %}Admins{% endblock %}
{% block content %}
<div class="cardHeader">
    <h2>Admins</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <table id="example" class="display">
        <thead>
            <th>S.N.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Username</th>
            <th>Action</th>
        </thead>
        {% if profile %}
        <tbody>
            {% for profile in profile %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><input type="text" name="full_name" value="{{profile.fullname}}"></td>
                <td><input type="text" name="email" value="{{profile.email}}"></td>
                <td><input type="number" name="phone" value="{{profile.phone_number}}"></td>
                <td><input type="text" name="username" value="@{{profile.user}}"></td>
                <td>
                    <a href="{% url 'remove_admin' profile.id %}" id="delete" class="btn-delete"
                        onclick="return remove_popup()">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}

{% block on_page_scripts %}
<script>
    function remove_popup() {
        return window.confirm("Do you really want to remove?");
    }
</script>
{% endblock %}