{% extends 'admin/dashboard.html' %}
{% load static %}
{% block content %}
<div class="cardHeader">
    <h2>Admins</h2>
    <table id="example" class="display">
        <thead>
            <th>S.N.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Username</th>
            <th>Action</th>
        </thead>
        {% if profile %}
        <tbody>
            {% for profile in profile %}
            <tr>
                <form method="POST" action="">
                    {% csrf_token %}
                    <td>{{forloop.counter}}</td>
                    <td><input type="text" name="full_name" value="{{profile.fullname}}"></td>
                    <td><input type="text" name="email" value="{{profile.email}}"></td>
                    <td><input type="number" name="phone" value="{{profile.phone_number}}"></td>
                    <td><input type="text" name="username" value="@{{profile.user}}"></td>
                    <td><input type="submit" class="btn-update" value="Update">
                        <a href="#" class="btn-delete">Delete</a>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}