{% extends 'admin/dashboard.html' %}
{% block title %}Customers{% endblock %}
{% block content %}
<div class="cardHeader">
    <h2>Customers</h2>
    <table id="example" class="display">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>@Username</th>
        </thead>
        {% if message %}
        <tbody>
            {% for msg in message %}
            <tr>
                <td>{{msg.id}}</td>
                <td>{{msg.fullname}}</td>
                <td>{{msg.email}}</td>
                <td>{{msg.username}}</td>
                <td><a href="#" class="btn">Update</a></td>
                <td><a href="#" class="btn">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}