{% extends 'admin/dashboard.html' %}
{% block title %}Customers{% endblock %}
{% block content %}
<div class="cardHeader">
    <h2>Customers</h2>
    <table id="example" class="display">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Action</th>
        </thead>
        {% if profile %}
        <tbody>
            {% for profile in profile %}
            <tr>
                <td>{{profile.id}}</td>
                <td>{{profile.fullname}}</td>
                <td>{{profile.email}}</td>
                <td>@{{profile.user}}</td>
                <td><a href="#" class="btn-update">Update</a>
                    <a href="#" class="btn-delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}