{% extends 'admin/dashboard.html' %}
{% load static %}
{% block title %}Properties{% endblock %}
{% block content %}
<div class="cardHeader">
    <h2>Properties</h2>
    <a href="{% url 'add-property' %}" class="btn-add">
        <i class="fa-solid fa-plus"></i>Add Property</a>
    <table id="example" class="display">
        <thead>
            <th>SN</th>
            <th>Image</th>
            <th>Type</th>
            <th>Price</th>
            <th>District</th>
            <th>City</th>
            <th>Status</th>
            <th>Property For</th>
            <th>Edit</th>
            <th>Remove</th>

        </thead>
        {% if properties %}
        <tbody>
            {% for property in properties %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img src="{{property.image.url}}" width="80px" height="50px"></td>
                <td>{{property.property_type}}</td>
                <td>{{property.price}}</td>
                <td>{{property.district}}</td>
                <td>{{property.city}}</td>
                <td>{{property.status}}</td>
                <td>{{property.property_for}}</td>
                <th><span class="btn-update"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></span>
                </th>
                <th><span class="btn-delete"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></span></th>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}