{% extends 'admin/dashboard.html' %}
{% load static %}
{% block title %}Sell Requests{% endblock %}
{% block content %}
<div class="cardHeader">
    <h2>Sell Requests</h2>
    <table id="example" class="display">
        <thead>
            <th>SN</th>
            <th>Image</th>
            <th>Title</th>
            <th>Document</th>
            <th>Property For</th>
            <th>From</th>
            <th>Phone</th>
            <th>View</th>
            <th>Approve</th>
            <th>Remove</th>
        </thead>
        {% if sell_req %}
        <tbody>
            {% for req in sell_req %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img src="{{req.image_front.url}}" width="75px" height="55px"></td>
                <td>{{req.property_title}}</td>
                <td><img src="{{req.doc_image.url}}" width="75px" height="55px"></td>
                <td>{{req.property_for}}</td>
                <td>{{req.name}}</td>
                <td>{{req.phone_number}}</td>
                <td><a href="" class="btn-update"><i class="fa fa-eye" style="color: #ffffff;"></i></a></td>
                <td><a href="" class="btn-update"><i class="fa-solid fa-check" style="color: #ffffff;"></i></a></td>
                <td><a href="#" class="btn-delete"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}