{% extends 'admin/dashboard.html' %}
{% load static %}
{% block title %}Sell Requests{% endblock %}
{% block extracssjs %} {% endblock %}
{% block content %}
<div class="cardHeader">
    <h2>Sell Requests</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul><br>
    {% endif %}
    <table id="example" class="display" style="overflow-x: scroll;">
        <thead>
            <th>SN</th>
            <th>Image</th>
            <th>Title</th>
            <th>Document</th>
            <th>Property For</th>
            <th>From</th>
            <th>Phone</th>
            <th>View</th>
            <th>Remove</th>
        </thead>
        {% if sell_requests %}
        <tbody>
            {% for req in sell_requests %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img src="{{req.image_front.url}}" width="75px" height="55px"></td>
                <td>{{req.property_title}}</td>
                <td><img src="{{req.doc_image.url}}" width="75px" height="55px"></td>
                <td>{{req.property_for}}</td>
                <td>{{req.name}}</td>
                <td>{{req.phone_number}}</td>
                <td><a href="#" class="btn-update"><i class="fa fa-eye" style="color: #ffffff;"></i></a>
                </td>
                <td>
                    <a href="#" class="btn-delete"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></a>
                </td></a>

            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}