{% extends 'admin/dashboard.html' %}
{% load static %}
{% block title %}Property Details{% endblock %}
{% block extracssjs %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
{% endblock %}
{% block content %}
<div class="go-back">
    <a href="javascript:void(0);" onclick="window.history.back();">
        <span class="icon">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </span>
    </a>
</div>
<div class="insider">
    <div class="row">
        <div class="cardHeader">
            <form action="{% url 'sellrequest_view' sellrequest.id %}" method="post" class="animated-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Property Details</h2>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul><br>
                {% endif %}

                {% if sellrequest %}
                <div class="form-group">
                    <div class="left">
                        <label for="property-type">Property Type:</label>
                        <input type="text" value="{{ sellrequest.property_type }}" id="property-type"
                            name="property-type" readonly>
                    </div>
                    <div class="right">
                        <label for="property-for">Property For:</label>
                        <input type="text" value="{{ sellrequest.property_for }}" id="property-for" name="property-for"
                            readonly>
                    </div>
                </div>
                {% if sellrequest.property_type != 'Land' %}
                <div id="house-form">
                    <div class="form-group">
                        <div class="middle">
                            <label for="flat-number">No of Flat:</label>
                            <input type="text" value="{{ sellrequest.flat_number }}" id="flat-number" name="flat-number"
                                readonly>
                        </div>
                        <div class="middle">
                            <label for="bed-number">Bedroom:</label>
                            <input type="text" value="{{ sellrequest.bedrooms }}" id="bed-number" name="bed-number"
                                readonly>
                        </div>
                        <div class="middle">
                            <label for="bath-number">Bathroom:</label>
                            <input type="text" value="{{ sellrequest.bathrooms }}" id="bath-number" name="bath-number"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="middle">
                            <label for="living-number">Living Room:</label>
                            <input type="text" value="{{ sellrequest.living_rooms }}" id="living-number"
                                name="living-number" readonly>
                        </div>
                        <div class="middle">
                            <label for="kitchen-number">Kitchen:</label>
                            <input type="text" value="{{ sellrequest.kitchens }}" id="kitchen-number"
                                name="kitchen-number" readonly>
                        </div>
                        <div class="middle">
                            <label for="total-number">Total Rooms:</label>
                            <input type="text" value="{{ sellrequest.total_rooms }}" id="total-number"
                                name="total-number" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="middle">
                            <label for="parking">Parking</label>
                            <input type="text" value="{{ sellrequest.parking }}" id="parking" name="parking" readonly>
                        </div>
                        <div class="middle">
                            <label for="built-year">Built Year:</label>
                            <input type="text" value="{{ sellrequest.built_year }}" id="built-year" name="built-year"
                                readonly>
                        </div>
                        <div class="middle">
                            <label for="built-area">Built Area:</label>
                            <input type="text" value="{{ sellrequest.built_area }}" id="built-area" name="built-area"
                                readonly>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="form-group"></div>
                <div id="land-form">
                    <div class="form-group">
                        <div class="middle">
                            <label for="road-size">Road Size: <span class="required">*</span></label>
                            <input type="text" value="{{ sellrequest.road_size }}" id="road-size" name="road-size"
                                readonly>
                        </div>
                        <div class="middle">
                            <label for="land-area">Land Area:</label>
                            <input type="text" value="{{ sellrequest.land_area }}" id="land-area" name="land-area">
                        </div>
                        <div class="middle">
                            <label for="type">Type: <span class="required">*</span></label>
                            <input type="text" value="{{ sellrequest.type }}" id="type" name="type" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="middle">
                            <label for="facing-direction">Facing Direction: <span class="required">*</span></label>
                            <input type="text" value="{{ sellrequest.facing_direction }}" id="facing-direction"
                                name="facing-direction" readonly>
                        </div>
                        <div class="middle">
                            <label for="property-price">Price:</label>
                            <input type="text" value="{{ sellrequest.price }}" id="property-price" name="property-price"
                                oninput="formatNumber(this)" required>
                        </div>
                        <div class="middle">
                            <label for="price-per-unit">Price Per Unit:</label>
                            <input type="text" value="{{ sellrequest.price_per_unit }}" id="price-per-unit"
                                name="price-per-unit" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" rows="4"
                            readonly>{{ sellrequest.full_description }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="middle">
                        <label for="province">Province: </label>
                        <input type="text" value="{{ sellrequest.province }}" id="province" name="province" readonly>
                    </div>
                    <div class="middle">
                        <label for="district">District: </label>
                        <input type="text" value="{{ sellrequest.district }}" id="district" name="district" readonly>
                    </div>
                    <div class="middle">
                        <label for="zip-code">Zip Code: </label>
                        <input type="text" value="{{ sellrequest.zip_code }}" id="zip-code" name="zip-code" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label for="city">City: </label>
                        <input type="text" value="{{ sellrequest.city }}" id="city" name="city" readonly>
                    </div>
                    <div class="right">
                        <label for="municipality">Municipality: </label>
                        <input type="text" value="{{ sellrequest.municipality }}" id="municipality" name="municipality"
                            readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label for="ward-no">Ward No: </label>
                        <input type="text" value="{{ sellrequest.ward_no }}" id="ward-no" name="ward-no" readonly>
                    </div>
                    <div class="right">
                        <label for="tole">Tole:</label>
                        <input type="text" value="{{ sellrequest.tole }}" id="tole" name="tole" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status">Status: </label>
                    <input type="text" value="Available" id="status" name="status" readonly>
                </div>
                <div class="form-group">
                    <h2>Document</h2>
                    <div class="middle">
                        <label for="doc-image">Document Preview:</label>
                        <a href="{{ sellrequest.doc_image.url }}" target="_blank">
                            <img src="{{ sellrequest.doc_image.url }}" width="200px" height="200px">

                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <h2>Property Images</h2>
                    {% if sellrequest.image_front %}
                    <div class="middle">
                        <div class="form-group">
                            <label for="front-image">Front Image:</label>
                            <a href="{{ sellrequest.image_front.url }}" target="_blank">
                                <input type="image" src="{{ sellrequest.image_front.url }}" alt="Property Image"
                                    name="front-image" width="230px" height="200px" />
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if sellrequest.image_side %}
                    <div class="middle">
                        <div class="form-group">
                            <label for="side-image">Side Image:</label>
                            <a href="{{ sellrequest.image_side.url }}" target="_blank">
                                <img src="{{ sellrequest.image_side.url }}" width="230px" height="200px">
                                <input type="file" value="{{ sellrequest.image_front.url }}" name="side-image"
                                    style="display: none;">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if sellrequest.image_extra %}
                    <div class="middle">
                        <div class="form-group">
                            <label for="extra1-image">LivingRoom/Bedroom Image:</label>
                            <a href="{{ sellrequest.image_extra.url }}" target="_blank">
                                <img src="{{ sellrequest.image_extra.url }}" width="230px" height="200px">
                                <input type="file" value="{{ sellrequest.image_extra.url }}" name="extra1-image"
                                    style="display: none;">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if sellrequest.image_extra2 %}
                    <div class="middle">
                        <div class="form-group">
                            <label for="extra2-image">Kitchen/Other Image:</label>
                            <a href="{{ sellrequest.image_extra2.url }}" target="_blank">
                                <img src="{{ sellrequest.image_extra2.url }}" width="230px" height="200px">
                                <input type="file" value="{{ sellrequest.image_extra2.url }}" name="extra2-image"
                                    style="display: none;">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="featured" style="display: inline-block;">Set as featured: </label>
                    <input type="checkbox" name="featured" id="featured" style="padding: 200px;">
                </div>
                <div class="form-group" style="display: inline-flex;">
                    <div class="left">
                        <button type="submit" class="btn">Approve</button>
                    </div>
                    <div class="right" style="display: inline-flex;">
                        <a href=" #" class="btn-delete">Decline</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}