{% extends 'admin/dashboard.html' %}
{% load static %}
{% block title %}Update Password{% endblock %}
{% block extracssjs %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
{% endblock %}
{% block content %}
<div class="go-back">
    <a href="javascript:void(0);" onclick="window.history.back();">
        <span class="icon">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </span>
    </a>
</div>
<div class="insider">
    <div class="row">
        <div class="cardHeader">
            <form action="" method="post" class="animated-form" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Update Password</h2>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul><br>
                {% endif %}
                <div class="form-group">
                    <label for="old-password"><strong>Old Password:</strong></label>
                    <input type="password" name="old-password" id="old-password" required>
                </div>
                <div class="form-group">
                    <p>Your password can't be too similar to your other personal information.<br>
                        Your password must contain at least 8 characters.<br>
                        Your password can't be a commonly used password.<br>
                        Your password can't be entirely numeric.<br>
                        Your password must contain at least one special character (~!@#$%^&*()_+}{":?><,. /;') and one
                            number.</p>
                </div>
                <div class="form-group">
                    <label for="new-password"><strong>New Password:</strong></label>
                    <input type="password" name="new-password" id="new-password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password"><strong>Confirm Password:</strong></label>
                    <input type="password" name="confirm-password" id="confirm-password" required>
                </div>
                <button type="submit">Change</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}