{% extends 'admin/dashboard.html' %}
{% block title %}{{profile.user}}'s Profile{% endblock %}
{% block extracssjs %} {% endblock %}
{% block content %}
<div class="go-back">
    <a href="javascript:void(0);" onclick="window.history.back();">
        <span class="icon">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </span>
    </a>
</div>
<div class="insider">
    <div class="row">
        <div class="cardHeader">
            <form method="POST" action="{% url 'update_user' profile.id %}" class="animated-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <h2>{{profile.user}}'s Profile</h2>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                    <div class="left">
                        <label for="full-name">Full Name:</label>
                        <input type="text" name="full-name" id="full-name" value="{{profile.fullname}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" value="{{profile.email}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label for="phone">Phone:</label>
                        <input type="tel" name="phone" id="phone" value="{{profile.phone_number}}">
                    </div>
                    <div class="right">
                        <div class="right">
                            <label for="profile-pic">Profile Picture:</label>
                            <img src="#" width="200px" height="100px" id="profile-pic" name="profile-pic">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">@Username:</label>
                    <input type="text" name="username" id="username" value="{{profile.user}}">
                </div>
                <div class="form-group">
                    <div class="left">
                        <input type="submit" class="btn-update" value="Update">
                    </div>
                    <div class="right">
                        <a href="{% url 'delete_user' profile.id %}" class="btn-delete">Delete</a>
                    </div>

            </form>
        </div>
        {% endblock %}