{% extends 'admin/dashboard.html' %}
{% block title %}{{profile.user}}'s Profile{% endblock %}
{% block extracssjs %} {% endblock %}
{% block content %}
<div class="go-back">
    <a href="javascript:void(0);" onclick="window.history.back();">
        <span class="icon">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </span>
    </a>
</div>
<div class="insider">
    <div class="row">
        <div class="cardHeader">
            <form method="POST" action="{% url 'update_user' profile.id %}" class="animated-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <h2>{{profile.user}}'s Profile</h2>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="profile-form">
                    <div class="right-col">
                        <h4>Profile Picture:</h4>
                        {% if profile.profile_picture %}
                        <img src="{{profile.profile_picture.url}}" width="200px" height="200px" id="profile-pic">
                        {% else %}
                        <img src="../../static/assets/admin/imgs/dummy-profile.jpg" width="200px" height="200px"
                            id="profile-pic" />
                        {% endif %}
                        <input type="file" name="profile-picture" id="profile-picture"
                            accept="image/png, image/jpg, image/jpeg">
                        <label for="profile-picture">Change</label>
                    </div>
                    <div class="left-col">
                        <label for="full-name">Full Name:</label>
                        <input type="text" name="full-name" id="full-name" value="{{profile.fullname}}">
                    </div>
                    <div class="left-col">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" value="{{profile.email}}">
                    </div>
                    <div class="left-col">
                        <label for="phone">Phone:</label>
                        <input type="tel" name="phone" id="phone" value="{{profile.phone_number}}">
                    </div>
                    <div class="left-col">
                        <label for="username">@Username:</label>
                        <input type="text" name="username" id="username" value="{{profile.user}}">
                    </div>

                    <div class="form-group">
                        <div class="left">
                            <input type="submit" class="btn-update" value="Update">
                        </div>
                        <div class="right">
                            <a href="#" class="btn-delete">Delete</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        const profilePicInput = document.getElementById('profile-picture');
        const profilePicPreview = document.getElementById('profile-pic');

        profilePicInput.addEventListener('change', function (event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                profilePicPreview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        });
    </script>
    {% endblock %}